.posts {
  padding: 30px 0;
  font-family: 'Noto Sans JP', sans-serif;
  color: #444;
  a {
    color: #444;
    text-decoration: none;
    transition: 170ms ease;
    &:hover {
      color: #be0016;
    }
  }
  nav {
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }
  .MuiLinearProgress-indeterminate {
    background-color: rgba(190, 0, 22, 0.25);
    .MuiLinearProgress-bar {
      background-color: rgba(190, 0, 22, 1);
    }
  }
  .MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-page {
    color: #444;
    transition: 170ms ease;
    border-radius: 4px;
    &:hover {
      color: #be0016;
    }
    &:focus {
      border-color: #be0016;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(190, 0, 22, 0.25);
    }
  }
}
