.posts{
  padding: 30px 0;
  nav{
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }
  .MuiLinearProgress-indeterminate{
    background-color: rgba(190, 0, 22, .25);
    .MuiLinearProgress-bar{
      background-color: rgba(190, 0, 22, 1);
    }
  }
}
hr{
  margin-top: 0;
}
