.article-page {
  padding: 100px 0;
  .header {
    display: flex;
    align-items: center;
    font-size: 25px;
  }
  .who {
    display: flex;
    align-items: center;
    .info {
      margin-left: 10px;
      span {
        display: block;
      }
      .userN {
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: 170ms ease;
        &:hover {
          color: #be0016;
          text-decoration: underline;
        }
      }
    }
  }
  .other {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    .buttons {
      align-items: flex-end;
      display: flex;
      justify-content: flex-end;
      div {
        margin-left: 10px;
      }
    }
  }
  .header-article {
    padding: 20px 0;
  }
  .article-text {
    padding-bottom: 15px;
  }
  .article-comments {
    padding: 10px 0;
    .add-comment {
      .form-group {
        margin-bottom: 0.5rem;
        .form-control {
          border-radius: 4px;
          &:focus {
            border-color: #be0016;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(190, 0, 22, 0.25);
          }
        }
      }
    }
    .comments {
      margin-top: 20px;
      .MuiPaper-root.MuiCard-root.MuiPaper-rounded {
        justify-content: flex-end;
        display: flex;
        flex-wrap: wrap;
        margin: 10px auto;
        border-radius: 4px;
        box-shadow: none;
        transition: box-shadow 170ms ease;
        padding: 10px;
        background-color: rgba(100, 100, 100, 0.06);
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
            rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
            rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
        }
        .MuiCardContent-root {
          width: 100%;
          .author-comment {
            display: flex;
            align-items: center;
            padding-bottom: 1rem;
            .MuiAvatar-root {
              width: 25px;
              height: 25px;
              margin-right: 5px;
            }
            p {
              cursor: pointer;
              &:hover {
                &:hover {
                  color: #be0016;
                  border-bottom: 1px solid #be0016;
                }
              }
            }
          }
          p.MuiTypography-root.MuiTypography-body2 {
            font-size: 20px;
          }
        }
        .MuiButtonBase-root {
          padding: 0;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

@media (max-width: 766px) {
  .article-page {
    padding: 60px 0;
    .who {
      .info {
        .userN {
          font-size: 12px;
        }
        .date {
          font-size: 10px;
        }
      }
    }
    hr {
      margin-top: 0;
    }
  }
  .article-comments {
    margin: 10px auto;
    width: 95%;
  }
}
