.article-page {
  padding: 100px 0;
  .header {
    display: flex;
    align-items: center;
    font-size: 25px;
  }
  .who {
    display: flex;
    align-items: center;
    .info {
      margin-left: 10px;
      span {
        display: block;
      }
      .userN {
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: 170ms ease;
        &:hover {
          color: #be0016;
          text-decoration: underline;
        }
      }
    }
  }
  .other {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    .buttons {
      align-items: flex-end;
      display: flex;
      justify-content: flex-end;
      div {
        margin-left: 10px;
      }
    }
  }
  .header-article {
    padding: 20px 0;
  }

  .comments {
    .MuiPaper-root.MuiCard-root.MuiPaper-rounded {
      margin: 10px auto;
      .author-comment {
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
        .MuiAvatar-root {
          width: 25px;
          height: 25px;
          margin-right: 5px;
        }
      }
      p.MuiTypography-root.MuiTypography-body2 {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 766px) {
  .article-page {
    padding: 60px 0;
    .who {
      .info {
        .userN {
          font-size: 12px;
        }
        .date {
          font-size: 10px;
        }
      }
    }
    hr {
      margin-top: 0;
    }
  }
}
