header {
  font-family: "Georgia", serif;
  transition: 0.5s;
  .navigation {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    font-family: "Noto Sans JP", sans-serif;
    background-color: #000;
    line-height: 40px;
    a {
      color: #fff;
    }
    .center {
      display: flex;
      justify-content: space-between;
      a{
        display: flex;
        align-items: center;
        .logo {
          width: 100px;
          transform: translateY(0);
          display: flex;
          align-items: center;
          transition: 350ms ease;
          cursor: pointer;
          img {
            max-width: 100%;
            height: auto;
          }
        }
        .vis{
          transform: translateY(0%);
        }
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        div{
          display: flex;
          align-items: center;
        }
        li {
          display: flex;
          align-items: center;
          margin-left: 20px;
          transition: all ease-in-out 0.4s;
          border-bottom: 2px solid #000;
          color: #fff;
          cursor: pointer;
          &:hover{
            border-bottom: 2px solid #be0016;
            color: #be0016;
          }
          }
        }
      }
    }
    .header-nav{
      .MuiAvatar-root{
        width: 30px;
        height: 30px;
      }
    }
  }
